body {
  background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%),url(https://img2.mypl.net/image.php?id=ce3887880ccbd533605406843048d4a446d29293_cms_image.jpg&p=s3-img-origin02&s=960_1480&op=);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.error {
  color: #ff3f80;
  font-size: 14px;
  margin: 20px 20px;
  background-color: white;
}
.ok_button {
  border: 0;
  line-height: 2;
  padding: 5px 20px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: blue;
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
  cursor: pointer;
  }
  .ok:hover {
    background-color: #0066FF;
  }
  .ok:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
  }
  .out_button {
    border: 0;
    line-height: 2;
    padding: 2px 10px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(0, 128, 0, 0.832);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    cursor: pointer;
    }
    .out:hover {
      background-color: rgb(6, 204, 6);
    }
    .out:active {
      box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                  inset 2px 2px 3px rgba(0, 0, 0, .6);
    }